*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}


body {
    background-color: rgba(186, 85, 211, 0.546);
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    all: unset;
}

.phone {
    overflow: hidden;
    width: 315px;
    height: 550px;
    display: flex;
    align-items: flex-end;
    border-radius: 1rem;
    background-image: url(bi.jpg);
    background-size:cover;
    border: 2px solid #dbdbdb ; 
}

.menu {
    display: flex;
    width: 315px;
    background: #fff;
    height: 60px;
    color: #4a00e0;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
  }

  .menuitem{
    color: grey;
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
  }

  .menuitem:hover{
    color: #4a00e0;
    cursor: pointer;
  }
  .menuname{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;  
  }
